[defaults]
inventory = /home/sheremet/Ansible/inventory/hosts.yml
host_key_checking = True
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
liberary = liberary
gather_facts = true
interpreter_python = auto
forks = 300
internal_poll_interval = 0.001
roles_path = {{CWD}}/roles:/etc/ansible/roles:/usr/share/ansible/roles
display_skipped_hosts = true


#[connection]
#pipelining = True

[ssh_connection]
pipelining = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini
